/* ===================================
    Global Config
=================================== */
$border--gray: 1px solid #999;

$text-shadow--white: 0.5px 0.5px 2px #FFF;

// Path to Assets
$path--rel: '../img/background-photo-';